<table>
	<thead>
	<th>Integration Type</th>
	<th>Total</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.type}}</td>
				<td>{{dataMap.total}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
